#body {
    height: 80vh;
}

header, .talc {
    text-align: center;
}

.main-container {
    height: 100%;
}

.form-width {
    width: 320px;
}

.main-div {
    margin: 0 auto 0 auto;
}

.user-info {
    width: 100%;
}

input.login-btn, input.register-btn {
    width: 100%;
}

div.error {
    color: palevioletred;
}